---
const redirectUrl = "https://www.unoplat.io";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
        <link rel="canonical" href={redirectUrl} />
        <title>Redirecting to Unoplat</title>
    </head>
    <body>
        <p>Redirecting to <a href={redirectUrl}>unoplat.io</a>…</p>
        <script define:vars={{ redirectUrl }}>
            window.location.replace(redirectUrl);
        </script>
    </body>
</html>
